@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
    /*Typography stuff*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    /*Miscellaneous*/
    box-sizing: border-box;
    list-style: none;
}

body {
    /*Box model stuff*/
    background: #1f1517;
    /*Typography stuff*/
    color: #ffffff;
}

/* --Header-- */

nav {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*Box model stuff*/
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
}

span.logo {
    /*Typography stuff*/
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

ul.menu {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    /*Miscellaneous*/
    gap: 1.5rem;
}

ul>li>a {
    /*Typography stuff*/
    color: #fff2e780;
}

a.github {
    /*Typography stuff*/
    font-weight: 600;
    color: #fff2e7;
}

/* --Main-- */

main {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
}

section.hero {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*Box model stuff*/
    max-width: 1120px;
    height: 60vh;
    background: #181012;
    /*Miscellaneous*/
    gap: 6rem;
}