@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
    /*Typography stuff*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    /*Miscellaneous*/
    box-sizing: border-box;
    list-style: none;
}

body {
    /*Box model stuff*/
    background: #1f1517;
    /*Typography stuff*/
    color: #ffffff;
}

/* --Header-- */

nav {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*Box model stuff*/
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
}

span.logo {
    /*Typography stuff*/
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

ul.menu {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    /*Miscellaneous*/
    gap: 1.5rem;
}

ul>li>a {
    /*Typography stuff*/
    color: #fff2e780;
}

a.github {
    /*Typography stuff*/
    font-weight: 600;
    color: #fff2e7;
}

/* --Main-- */

main {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
}

div#hero-section {
    /*Box model stuff*/
    background: #181012;
}

section.hero {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*Box model stuff*/
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    /*Miscellaneous*/
    gap: 6rem;
    overflow: clip;
}

span.destaque {
    /*Typography stuff*/
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

span.marrom {
    /*Typography stuff*/
    color: #a45a49;
}

h1 {
    /*Typography stuff*/
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    /*Box model stuff*/
    border-color: #a45a49;
}

h2.hero-subtitle {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    color: #C7BAB3;
}

header.hero-content {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    /*Miscellaneous*/
    gap: 1rem;
}

div.hero-img {
    /*Miscellaneous*/
    column-count: 4;
}

div.hero-img>figure>img {
    /*Box model stuff*/
    width: 6.5rem;
    border-radius: 0.5rem;
}

section.button-container {
    /*Box model stuff*/
    width: 100%;
    max-width: 1120px;
    margin: auto;
    /*Manipulations stuff*/
    transform: translate("0, -50%");
}

button {
    /*Box model stuff*/
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #a45a49;
    /*Miscellaneous*/
    cursor: pointer;
}

section.receitas {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    /*Box model stuff*/
    max-width: 1120px;
    margin: auto;
    padding: 3rem 2rem;
}

header.receitas-cabecalho {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    /*Miscellaneous*/
    gap: 0.5rem;
}

header.receitas-cabecalho>h2 {
    /*Typography stuff*/
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

header.receitas-cabecalho>p {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #C7BAB3;
}

div.receitas-card-container {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Box model stuff*/
    padding: 0rem 10rem;
    /*Miscellaneous*/
    gap: 2rem;
}

div.receitas-card {
    /*Display stuff*/
    display: flex;
    flex-basis: 29rem;
    flex-direction: column;
    /*Box model stuff*/
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background: #241a1c;
    /*Miscellaneous*/
    gap: 2rem;
}

header.receitas-card-cabecalho {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

div.receitas-card-cabecalho-detalhes {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    /*Miscellaneous*/
    gap: 0.5rem;
}

span.amarelo {
    /*Typography stuff*/
    color: #e7a80e;
}

h3.receita-titulo {
    /*Typography stuff*/
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff2e7;
}

p.receita-avaliacao {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #756a67;
}

p.receita-descricao {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #C7BAB3;
}

div.receita-autor {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Miscellaneous*/
    gap: 0.5rem;
}

div.receita-autor>img {
    /*Box model stuff*/
    width: 1.5rem;
    border-radius: 20rem;
}

span.receita-autor-nome {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    color: #C7BAB3;
}

/* --Footer-- */

footer {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Box model stuff*/
    padding: 4rem;
    background: #23181a;
    /*Miscellaneous*/
    gap: 0.5rem;
}

footer p:nth-child(1) {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #fff2e7;
}

footer p:nth-child(2) {
    /*Typography stuff*/
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 242, 231, 0.50);
}